@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
  --third-color: #3c4172;
  --letterspace-one: 1.0px;
  --letterspace-two: 2.0px;
}


* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  padding: 0.4rem .9rem;
  
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
  border-radius: 3px;
}

#title {
  color: #eee;
  font-weight: 900;
  letter-spacing: var(--letterspace-one);
  font-size: 2.2rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.3rem;
  margin-bottom: 5px;
}


.movie {
  width: 500px;
  margin: .5rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.character-img {
  width: 100%;
  position: relative;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: var(--letterspace-two);
}

.movie-info h3 {
  font-size: 1.4rem;
  margin-top: 0;
  font-weight: 900;
  
}


.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.overview h2 {
  font-size: 2.0rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

#aff-1 {
  color: var(--secondary-color);
}

.movie:hover .overview {
  transform: translateY(0);
}

.overview p {
  line-height: .9rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: var(--letterspace-one);
}

#btn-generate, button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  margin-top: .7rem;
  display: block;
  width: 500px;
  border: none;
  background-color: var(--third-color);
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  color: #eee;
  font-weight: 500;
  letter-spacing: var(--letterspace-one);
  border-radius: 3px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  
}


